@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d4e5f0;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

canvas {
  margin-left: 250px;
}

#stopwatch {
  margin-left: 1050px;
}

#amplitude,
#frequency,
#damping,
#tension {
  margin-left: 1050px;
}

button {
  border: none;
  background-color: #2596be;
  border-radius: 0.5em;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #1a6c8f;
}

input {
  border: none;
  background-color: #f2f2f2;
  border-radius: 0.5em;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

#amplitude-label,
#frequency-label,
#damping-label,
#tension-label {
  margin-top: 15px;
  z-index: 100;
}

/* Style the slider track */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px; /* Track height */
  background: #fafafa; /* Track color */
  border-radius: 5px; /* Optional: rounded corners */
  outline: none; /* Removes the outline on focus */
  margin-top: 10px;
}

/* Style the slider thumb (the handle) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #2596be; /* Thumb color */
  border-radius: 50%; /* Circular thumb */
  cursor: pointer; /* Cursor on hover */
  transition: background-color 0.3s ease; /* Optional: smooth transition */
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #2596be;
  border-radius: 50%;
  cursor: pointer;
}

/* Optional: add a hover effect for better interactivity */
input[type="range"]::-webkit-slider-thumb:hover {
  background: #0c455a; /* Darker color on hover */
}
